<style > @import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700i');
</style > <style > @import url('https://fonts.googleapis.com/css?family=Yeseva+One');
</style > body {
    background-image: url("https://i.ibb.co/99tDr66/16202.jpg");
    font-size: 16px;
}

@media all and (min-width: 960px) {
    body {
        font-size: 18px;
    }

    div h1 .textHistoria {
        color: #343a40;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body {
        font-size: 16px;
    }

    
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body {
        font-size: 0.7rem;
    }
   

}


h1 {
    font-size: 4.236em;
}

h2 {
    font-size: 2.618em;
}

h3 {
    font-size: 1em;
    line-height: 1.618em;
    text-transform: uppercase;
}

p {
    font-size: 1em;
    line-height: 1.618em;
}

.claseDelDiv {
    background-image: url("https://i.ibb.co/G31Qcj0/tabla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.color {
    background-color: #d4aa00ff;
}

.h3-responsive {
    font-size: 300%;
}

.bottonsize {
    width: 100px;
    height: 40px;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.orange.lighten-1 {
    background-color: black !important;
}


.navbar {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    font-family: 'Crimson Text', serif;
    font-weight: italic;
    font-size: 30px;
    /*para titulos*/
    /*font-family: 'Yeseva One', cursive;*/
}

.black {
    background-color: black;
}

.contrast {
    opacity: 0.5;


}

.mb-1,
.my-1 {
    margin-bottom: .25rem !important;
}

.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

footer.page-footer {
    bottom: 0;
    color: #fff;
    font-family: 'Crimson Text', serif;
    font-weight: italic;
    font-size: 30px;
}

.font-small {
    font-size: .9rem;
}

.special-color-dark {
    background-color: #263238 !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.md-form {

    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.mb-0,
.my-0 {

    margin-bottom: 0 !important;

}

*,
::after,
::before {

    box-sizing: border-box;

}

.md-form input[type="date"],
.md-form input[type="datetime-local"],
.md-form input[type="email"],
.md-form input[type="number"],
.md-form input[type="password"],
.md-form input[type="search-md"],
.md-form input[type="search"],
.md-form input[type="tel"],
.md-form input[type="text"],
.md-form input[type="time"],
.md-form input[type="url"],
.md-form textarea.md-textarea {

    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ced4da;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;

}

.md-form .form-control {

    margin: 0 0 .5rem 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: .3rem 0 .55rem 0;
    background-image: none;
    background-color: transparent;
    height: auto;

}

.form-control {

    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

button,
input {

    overflow: visible;

}

button,
input,
optgroup,
select,
textarea {

    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

}

*,
::after,
::before {

    box-sizing: border-box;

}

.md-form label {

    position: absolute;
    top: .65rem;
    left: 0;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: text;
    color: #757575;

}

.md-form label {

    font-size: 1rem;

}

label {

    display: inline-block;
    margin-bottom: .5rem;

}

*,
::after,
::before {

    box-sizing: border-box;

}

.md-form input[type="date"] + label::after,
.md-form input[type="datetime-local"] + label::after,
.md-form input[type="email"] + label::after,
.md-form input[type="number"] + label::after,
.md-form input[type="password"] + label::after,
.md-form input[type="search-md"] + label::after,
.md-form input[type="search"] + label::after,
.md-form input[type="tel"] + label::after,
.md-form input[type="text"] + label::after,
.md-form input[type="time"] + label::after,
.md-form input[type="url"] + label::after,
.md-form textarea.md-textarea + label::after {

    content: "";
    position: absolute;
    top: 65px;
    display: block;
    opacity: 0;
    -webkit-transition: .2s opacity ease-out, .2s color ease-out;
    -o-transition: .2s opacity ease-out, .2s color ease-out;
    transition: .2s opacity ease-out, .2s color ease-out;

}

*,
::after,
::before {

    box-sizing: border-box;

}

.md-form input[type="date"],
.md-form input[type="datetime-local"],
.md-form input[type="email"],
.md-form input[type="number"],
.md-form input[type="password"],
.md-form input[type="search-md"],
.md-form input[type="search"],
.md-form input[type="tel"],
.md-form input[type="text"],
.md-form input[type="time"],
.md-form input[type="url"],
.md-form textarea.md-textarea {

    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ced4da;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;

}

.md-form .form-control {

    margin: 0 0 .5rem 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: .3rem 0 .55rem 0;
    background-image: none;
    background-color: transparent;
    height: auto;

}

.form-control {

    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

button,
input {

    overflow: visible;

}

button,
input,
optgroup,
select,
textarea {

    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

}

*,
::after,
::before {

    box-sizing: border-box;

}

.contact-section .form .btn-floating {

    float: right;
    position: relative;
    bottom: 3rem;
    margin-right: 0;

}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {

    color: inherit;
    text-decoration: none;

}

a:not([href]):not([tabindex]) {

    color: inherit;
    text-decoration: none;

}

.btn-floating.btn-lg {

    width: 61.1px;
    height: 61.1px;

}

a.waves-effect,
a.waves-light {

    display: inline-block;

}

.btn-floating {

    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;

}

.waves-effect {

    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}

.blue {
    background-color: #d4aa00ff !important;

}

.btn-group-lg > .btn,
.btn-lg {

    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;

}

a {

    cursor: pointer;
    text-decoration: none;
    color: #d4aa00ff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

a {

    color: #d4aa00ff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

}

*,
::after,
::before {

    box-sizing: border-box;

}

.btn-floating.btn-lg i {

    font-size: 1.625rem;
    line-height: 61.1px;

}

.btn-floating i {

    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;

}

.btn-floating i {

    font-size: 1.25rem;
    line-height: 47px;

}

.far {

    font-family: 'Font Awesome 5 Free';
    font-weight: 400;

}

.fa,
.fab,
.fal,
.far,
.fas {

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

}

*,
::after,
::before {

    box-sizing: border-box;

}






.boton {
    width: 30px;
    height: 30px;
    background-color: #03800b;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 11px;
    line-height: 32px;
    text-transform: uppercase;
    float: left;
}

.boton:hover {
    opacity: 0.50;
    -moz-opacity: .50;
    filter: alpha (opacity=50);
}

.boton a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px 5px 0;
}



* {
    margin: 0;
    padding: 0;
/*    color: #fff;*/

}

div#imagen {
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/vkhZr05/282860-P61-N1-Z-483.jpg");
    background-size: cover;

}

div#imagen2 {
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/99tDr66/16202.jpg");
    background-size: cover;

}

div#info {

    overflow: hidden;

    background-color: rgba(31, 31, 31, 0.9);
    opacity: 0;
    transition: opacity 0.3s;
}

div#imagen:hover div#info {
    opacity: 1;
}

div#imagen2:hover div#info {
    opacity: 1;
}

p#headline {
    margin-top: 15px;
    transition: 0.3s;
    font-family: 'Yeseva One', bold;
    font-size: 100%;
    text-align: center;
    color:#fff;
}

div#imagen:hover p#headline {}

p#descripcion {
    font-size: 1rem;


    transition: 0.4s;
    font-family: 'Yeseva One', bold;
    font-size: 80%;
    text-align: center;
     color:#fff;
}

div#imagen:hover p#descripcion {
    margin-top: 75px;
}


div#imagen2:hover p#descripcion {
    margin-top: 75px;
}

/**
* #.# Pagina acerca------------------------------------------------------------------
*
* Description .
*/

.tipografia1 {
    font-family: 'Yeseva One', bold;
}

.tipografia2 {
    font-family: 'Crimson Text', serif;
}

.colorTexto {
    color: #d4aa00ff;
}

.colorfondo {
    background-color: #d4aa00ff;
}

.rgba-black-strong {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}

hr {
    background-color: #d4aa00ff;
    margin: auto;
}

.bannerFondo {
    background-image: url("https://i.ibb.co/tmnVkrt/about-Banner.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.aboutBanner {
    height: 100vh;
    background-size: cover;
}

.seccionQuiSom {
    height: 80%px;
}

.imgHistoria {
    background-image: url(https://i.ibb.co/CvSP84T/img-About2.jpg);
    background-size: cover;
    background-position: bottom left;
    height: 70vh;
}

.aboutBanner2 {
    height: 80vh;
}

.HistoriaCaja {
    height: 30vh;
}

.degradado {
    background: -moz-linear-gradient(top, rgba(247, 238, 71, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(247, 238, 71, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(247, 238, 71, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ee47', endColorstr='#00ffffff', GradientType=0);
}

.testimonio {
    height: 120px;
    background-color: #d4aa00ff;
    margin: 0 0 -50px;
}

.imgTestimonio {
    border: 5px solid #fff;
}

.bordeCard {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)!important;
}

.map {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}

/**
* #.# Pagina blog------------------------------------------------------------------
*
* Description .
*/

.bannerBlog {
    background-image: url(https://i.ibb.co/qk39rP9/imgBlog3.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.blogBanner {
    height: 80vh;
}

.linkLeer {
    color: #dc3545;
}

.linkLeer:hover {
    color: #d4aa00ff;
    text-decoration: underline;
}

.linkTituloBlog {
    color: #d4aa00;
}

.linkTituloBlog:hover {
    color: #dc3545;
    text-decoration: underline;
}


.btn-logBlog {
    color: #fff;
}

.btn-logBlog:hover {

    color: black;
}

.linkTituloBlog2 {
    color: #6c757d;
}

.linkTituloBlog2:hover {
    color: #dc3545;
    text-decoration: underline;
}

/**
* #.# Pagina footer------------------------------------------------------------------
*
* Description .
*/
.btn-change {
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
}

.btn-change:hover {
    -webkit-transform: scale(1.1);
    background: #d4aa00ff;
}

/**
* #.# Pagina error------------------------------------------------------------------
*
* Description .
*/

.fondoError {
    background-image: url("https://i.ibb.co/7WV3Lx8/28.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.btn-floating {
    padding: 0;
}

/**
* #.# Pagina equipo------------------------------------------------------------------
*
* Description .
*/

/*pagina teamaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaan*/

.bannerTeam{
	background-image: url("https://i.ibb.co/HLSZnSX/imgTeam1.jpg");
	background-size:cover;
	background-position:center;
	height:100vh;
}

.bannerTeam2{
	background-image: url("https://i.ibb.co/37c83d4/banner-Team2.jpg");
	background-size:cover;
	background-position:center;
	height:100vh;
}

.borderServirte{
	border: 5px solid red;

}

.teamBanner{
	height: 100vh;
}

.recuadroNuestroEquipo{
	background-color: #e6e6e691;
}

.btn-logTeam {
    color: #d4aa00ff;
}

.btn-logTeam:hover {

    color: black;
}
.cuadroOrgullo{
    background-color: #343a40d1;
}

/**
* #.# Pagina galeria------------------------------------------------------------------
*
* Description .
*/
.bannerGaleria{
    background-image: url("https://i.ibb.co/99tDr66/16202.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.galeria1{
    background-image: url("https://i.ibb.co/8dtkN58/11.png");
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 62vh;
}
.galeria2{
    background-image: url("https://i.ibb.co/JrPFDJn/aaa.png");
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 62vh;
}
.galeria3{
    background-image: url("https://i.ibb.co/mbb1FPD/33.png");
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 62vh;
}

.bannerGaleria2{
    background-image: url("https://i.ibb.co/8rMKW27/3041.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.galeria4{
    background-image: url("https://i.ibb.co/9WYg09M/44.png");
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 62vh;
}
.galeria5{
    background-image: url("https://i.ibb.co/JFF77QP/55.png");
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 62vh;
}
.galeria6{
    background-image: url("https://i.ibb.co/r0LbTtD/66.png");
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 62vh;
}

.bannerGaleria3{
    background-image: url("https://i.ibb.co/vkhZr05/282860-P61-N1-Z-483.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.galeria7{
    background-image: url("https://i.ibb.co/tZSRnvF/77.png");
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 62vh;
}
.galeria8{
    background-image: url("https://i.ibb.co/WHhfcg4/88.png");
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 62vh;
}
.galeria9{
    background-image: url("https://i.ibb.co/ZSJYRHr/99.png");
    background-size: cover;
    background-position: center;
    height: 62vh;
    width: 62vh;
}


.zoom{
        /* Aumentamos el ancho y la altura durante 1 segundo */
        transition: width 1s, height 1s, transform 1s;
        -moz-transition: width 1s, height 1s, -moz-transform 1s;
        -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
        -o-transition: width 1s, height 1s,-o-transform 1s;    
    }
.zoom:hover{
        /* tranformamos  su tamaño al pasar el mouse por encima con scale(2.5). */
        transform : scale(1.1);
        -moz-transform : scale(1.1);      /* Firefox */
        -webkit-transform : scale(1.1);   /* Chrome - Safari */
        -o-transform : scale(1.1);        /* Opera */
  }